szbz-utvonal/gpx.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://tempuri.org/XMLSchema.xsd" elementFormDefault="qualified" xmlns="http://tempuri.org/XMLSchema.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element type="xs:string" name="title" />
    <xs:element type="xs:string" name="description" />
    <xs:element type="xs:string" name="from" />
    <xs:element type="xs:string" name="to" />
    <xs:element type="xs:string" name="sign" />
</xs:schema>
